<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Stok Barang"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRSCANNER"
        tools:targetApi="31">
        <activity
            android:name=".permintaanbrg"
            android:exported="false" />
        <activity
            android:name=".menupermintaan"
            android:exported="false" />
        <activity
            android:name=".ubahpermintaan"
            android:exported="false" />
        <activity
            android:name=".permintaanperktr"
            android:exported="false" />
        <activity
            android:name=".persetujuan"
            android:exported="false" />
        <activity
            android:name=".permintaan"
            android:exported="false" />
        <activity
            android:name=".dashboard_pengadaan"
            android:exported="false" />
        <activity
            android:name=".dashboard_manajemen"
            android:exported="false" />
        <activity
            android:name=".mintabrg"
            android:exported="false" />
        <activity
            android:name=".StokBrgUser"
            android:exported="false" />
        <activity
            android:name=".StokBrg"
            android:exported="false" />
        <activity
            android:name=".semuastok_user"
            android:exported="false" />
        <activity
            android:name=".semuaBrg_user"
            android:exported="false" />
        <activity
            android:name=".kategoriperbrng_user"
            android:exported="false" />
        <activity
            android:name=".kategori_user"
            android:exported="false" />
        <activity
            android:name=".scan_ubahbrg"
            android:exported="false" />
        <activity
            android:name=".scan_hapusbrg"
            android:exported="false" />
        <activity
            android:name=".tambah_brg"
            android:exported="false" />
        <activity
            android:name=".scan_hapusstok"
            android:exported="false" />
        <activity
            android:name=".hapus_stok"
            android:exported="false" />
        <activity
            android:name=".tambah_stok"
            android:exported="false" />
        <activity
            android:name=".SemuaStok"
            android:exported="false" />
        <activity
            android:name=".hapusbrg"
            android:exported="false" />
        <activity
            android:name=".ubahbrg"
            android:exported="false" />
        <activity
            android:name=".SemuaBrg"
            android:exported="false" />
        <activity
            android:name=".TmbhKategori"
            android:exported="false" />
        <activity
            android:name=".dashboard_user"
            android:exported="false" />
        <activity
            android:name=".dashboard_adm"
            android:exported="false" />
        <activity
            android:name=".Registrasi"
            android:exported="false" />
        <activity
            android:name=".Select"
            android:exported="false" />
        <activity
            android:name=".CekBrg"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Capture" />
    </application>

</manifest>